@use '../import' as *;

.main_visual {
  position: relative;
  background-image: url('/images/top_circle.png');
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  .bg_liquid {
    .liquid_1 {
      position: absolute;
      z-index: 0;
      bottom: -6%;
      left: -16%;
      width: 26%;
    }
    .liquid_2 {
      position: absolute;
      z-index: 0;
      top: 12%;
      right: -15%;
      width: 30%;
      transform: rotate(33deg);
    }
  }
  .main_visual_inner {
    position: relative;
    z-index: 0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
  }
  .main_bg_back {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 1300px;
    max-width: 102%;
    border-radius: 82% 25% 73% 46%/35% 51% 46% 46%;
    overflow: clip;
    aspect-ratio: 2/1;
    background: $main_light_color;
    transform: rotate(5deg) translate(-52%, -41%);
  }
  /*----- ロゴ -----*/
  .logo {
    position: absolute;
    z-index: 5;
    top: 21px;
    left: 0;
  }
  .logo_image {
    width: 42%;
    filter: drop-shadow(0px 3px 1px rgb(0 0 0 / 20%));
    transform: rotate(-6deg);
  }

  /*----- お問い合わせTel -----*/
  .main_tel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: auto;
    padding: 0 3px 3px 3px;
    border-right: 1px solid #32583a;
    border-bottom: 1px solid #32583a;
    border-left: 1px solid #32583a;
    font-weight: 600;
    color: #32583a;
    background: $default_light_color;
    .main_tel_inner {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 10px 15px;
      border-right: 1px solid #32583a;
      border-bottom: 1px solid #32583a;
      border-left: 1px solid #32583a;
    }
    .contact_text {
      font-size: 12px;
    }
    .tel {
      display: flex;
      align-items: center;
      .tel_text {
        font-size: 20px;
      }
    }
    .material_icon {
      display: inline-block;
      font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 200;
      font-size: rem(32px);
    }
    .opening_hours {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      .hours_text {
      }
    }
  }
  /*----- メインビジュアル -----*/
  .main_bg {
    position: relative;
    z-index: 1;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 82% 25% 73% 46%/35% 51% 46% 46%;
    background: $default_light_color;
    overflow: clip;
    aspect-ratio: 2 / 1;
    box-shadow: $shadow_common;
  }
  .slide_iamge {
    position: relative;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    @include mq('sm') {
    }
  }
  /*----- イラスト -----*/
  .illust_area {
    width: 100%;
    height: 100%;
    .illust_1 {
      position: absolute;
      z-index: 1;
      bottom: -4%;
      right: -50px;
      width: 25%;
    }
  }
}
