@use '../../import' as *;

.nav_menu {
  width: 100%;
  .nav_inner {
    @include mq('sm') {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px 10px 50px;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  li {
    opacity: 0;
    overflow: hidden;
    width: calc(100% / 5);
    max-width: 160px;
    border-radius: 8px;
    box-shadow: $shadow_common;
    // border-right: 1px solid $main_light_color;
    // &:first-child {
    //   border-left: 1px solid $main_light_color;
    // }
    transition: all 0.2s;
    @include hover() {
      transform: translateY(-8px);
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      aspect-ratio: 1 / 1;
      padding: 8px;
      font-weight: 500;
      color: $hd_main_color;
      &:before {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        content: '';
        width: 0;
        height: 0;
        border-radius: 50%;
        background: $main_light_color;
        transform: translate(-50%, -50%);
        transition: all 0.5s;
      }
      @include mq('sm') {
        width: 100%;
        height: auto;
        font-size: 100%;
        @include hover() {
          // color: #fff;
          &::before {
            width: 200%;
            height: 200%;
          }
        }
      }
      @include mq('lg') {
      }
    }
    .material_icon {
      display: inline-block;
      font-size: rem(60px);
      font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 200;
    }
  }
}
