@use 'import' as *;
/*---------------------------------
  共通CSS
---------------------------------*/


/*---------------------------------
  TOP
---------------------------------*/
.mainVisual {
  position: relative;
  height: 100vh;
  .title_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 140px;
    height: 100%;
  }
  .top_text {
    font-size: rem(18px);
    font-weight: 300;
  }
  .title {
    margin-top: 29px;
    font-size: rem(83px);
    font-weight: 600;
    letter-spacing: -0.03em;
    line-height: 1.2;
  }
  .sub_title {
    margin-top: 36px;
    font-size: rem(28px);
    font-weight: 700;
  }
}

.solve {
  position: relative;
  .secbg {
    position: static;
  }
  .c {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .circle_area {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vh;
    height: 100vh;
    transform: translate(-50%, -50%);
  }
  .circle {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    width: 0;
    height: 0;
    background-color: $main_color;
    // opacity: 0.7;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    // width: 100%;
    // height: 100%;
    white-space: nowrap;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: $text_white_color;
    transform: translate(-50%, -50%);
  }
}

.ttt {
  height: 300vh;
  background: lightgoldenrodyellow;
}

.sss {
  background: aquamarine;
}

