@use 'import' as *;
/*---------------------------------
  共通CSS
---------------------------------*/

/*---------------------------------
  TOP
---------------------------------*/
.mainVisual {
  position: relative;
  height: 100vh;
  .title_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 140px;
    height: 100%;
  }
  .top_text {
    font-size: rem(18px);
    font-weight: 300;
  }
  .title {
    margin-top: 29px;
    font-size: rem(83px);
    font-weight: 600;
    letter-spacing: -0.03em;
    line-height: 1.2;
  }
  .sub_title {
    margin-top: 36px;
    font-size: rem(28px);
    font-weight: 700;
  }
}

.solve_sec {
  // pointer-events: none;
  position: relative;
  z-index: 15;
  width: 100%;
  .secbg {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .secttl {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .ctr_mdl {
    position: absolute;
    left: 50%;
    top: 50%;
  }
  .msk1 {
    position: absolute;
  }
  .msk2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    &.circle {
      background-color: $main_color;
    }
  }
  .sub {
    position: absolute;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    display: table;
    h2 {
      // white-space: nowrap;
      text-align: center;
      font-size: rem(48px);
      font-weight: bold;
      color: $text_white_color;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.ttt {
  height: 300vh;
  background: lightgoldenrodyellow;
}

.sss {
  background: aquamarine;
}
