/* Color (カラー)
----------------------------------------------------------------- */
$main_color: #0d3b66;
$sub_color: #f4d35e;
$accent_color: #f95738;

$bg_main_color: #fff;

/* Shadow （シャドウ）
----------------------------------------------------------------- */
$shadow_common: 0px 3px 6px 0px rgb(0 0 0 / 16%);

/* Font (フォント)
----------------------------------------------------------------- */
// $base_font-family: 'Noto Sans JP', sans-serif;
$base_font_family: 'Poppins', sans-serif;
$base_letter_spacing: 0em;

$text_main_color: #000;
$text_link_color: #000;
$text_white_color: #fff;

/* Heading (見出し)
  ----------------------------------------------------------------- */
$hd_main_color: #000;
